body {
    background-color: antiquewhite;
}

#container, #heading, #results {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.5%;
}

img {
    padding: 1%;
    width: 15%;
    height: auto;
    border: 3px solid black;
    border-radius: 10%;
    transition: all .07s ease;
}

.notPlaying {
    opacity: 0.5;
}

.currentChoice {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }


#Start {
    margin-bottom: 20px;
}
